@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica, sans-serif;
--secondary-font: "Mooli", sans-serif;
}
body {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
}
.viewer{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-rows: 50px .5fr;
    grid-template-columns: 40px 1fr 30px;
    place-items: center;
    
}
.viewer button{
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--text-light);
    font-size: 2em;
    font-family: var(--primary-font);
    /* margin-top: 10px; */
    grid-row: 1/2;
    grid-column: 3;
    max-width: 1fr;
}
.viewer img{
    max-width: 95%;
    grid-row: 2/3;
    grid-column: 2;
    /* padding: 200px; */
    

}
header{
    background-color: var(--primary-color); 
    padding: 20px;
}
h1 {
    margin: 0 auto;
    color: var(--text-light);
    font-family:var(--secondary-font);
    font-size: 2em;

}
h2{
    color: var(--text-dark);
    font-family: var(--secondary-font);
}
nav{

    margin: 0 100px;
}
.navMenuButton{
        border: none; 
        background-color: #52489c;
        color: var(--text-light);
        font-size: 1.2em;
        font-family: var(--primary-font);
        margin-top: 10px;
    }
.hidden{
    display: none;
}
ul{
    display: flex;
    justify-content:space-evenly;
    font-family: var(--primary-font);
    list-style: none;
    padding: 0;

}
a{
    color: var(--text-light);
}

.gallery{
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 340px);
    place-items: center;
}
.grid-pic{
    display: flex;
}
figure img {
    max-width: 100%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: var(--text-light) 10px solid;
    box-shadow: 5px 5px 10px #333;
}
footer{
    font-family: var(--primary-font);
    color: var(--text-light);
    background-color: var(--primary-color);
    padding: 20px;
}
footer p{
    background-color: var(--primary-color); 
    margin: 0 auto;

}

/* Responsive design */
  @media screen and (min-width: 1001px) {
    button{
        display: none;
    }
  }
@media screen and (max-width: 1000px) {
    .gallery {
        display: grid;
      grid-template-columns: auto auto;
      margin: 10px 50px;
      padding: 0;
    }
    nav a {
        /* display: none; */
    }
  }
  @media screen and (max-width: 700px) {
    .gallery {
        display: grid;
      grid-template-columns: auto;
      margin: 10px 50px;
      padding: 0;
        }
    }
  