body {
  background-color: mintcream;
  margin: 0 auto;
  font-family: calibri;
}
nav {
  display: block;
  background-color: darkgreen;
  color: white;
  margin: 0;
  padding: 20px 0 20px 0;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  padding: 20px;
}
main {
  padding: 0 30px;
}
table {
  background-color: darkgreen;
}
th {
  color: white;
  font-size: 1.8em;
  column-span: 3;
}
td {
  background-color: rgb(2, 179, 26);
  padding: 10px;
}

table a {
  color: white;
  font-size: 1.7em;
  padding: 5px 5px;
}
