body {
  background-color: mintcream;
  margin: 0 auto;
  font-family: calibri;
}
h1, h2 {
  font-size: 2.25em;
}
nav {
  display: block;
  background-color: darkgreen;
  color: white;
  margin: 0;
  padding: 10px 20px;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  padding: 10px 20px;
}
nav a:hover {
  background-color: rgb(2, 179, 26);
}
main {
  padding: 0 30px;
}
table {
  background-color: darkgreen;
  text-align: center;
  width: 1200px;
  margin: 20px auto;
}
th {
  color: white;
  font-size: 1.8em;
  column-span: 3;
}
td {
  background-color: rgb(2, 179, 26);
  padding: 10px;
}

table a {
  color: white;
  font-size: 1.7em;
  padding: 5px 5px;
}
