/* Import a normalize CSS file, or write normal code. */

* {
  margin: 0;
}
header {
  background-color: #2a81e2;
  text-align: center;
}
h1 {
  font-size: 2em;
}
a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}
nav {
  display: none;
}
nav a:hover {
  text-decoration: underline;
}
.menu-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 5px 0;
}
.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 5px 0;
}
h1,
p {
  color: white;
}
main {
  background-color: darkgrey;
  text-align: center;
  margin: 0 auto;
}
h2 {
  padding-top: 20px;
  font-family: Calibri;
  font-size: 1.75em;
}

img {
  margin: 20px;
  object-fit: cover;
  width: 270px;
  aspect-ratio: 1/1;
  border: 5px solid white;
  box-shadow: 5px 5px 5px rgb(0, 0, 0.5);
}
dialog img {
  width: 90%;
  display: block;
  margin: 20vh auto;
}
dialog {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
.viewer-closer {
  position: absolute;
  top: 10vh;
  right: 2vh;
  padding: 3px 6px;
  font-size: 1.5em;
  border-radius: 0%;
  color: Red;
  background-color: white;
  width: 2em;
  height: 2em;
}
footer {
  background-color: #2a81e2;
  padding: 20px 0;
  text-align: center;
}
@media screen and (min-width: 500) and (max-width: 949px) {
  nav {
    display: block;
  }
  .menu-btn {
    display: none;
  }
}

@media screen and (min-width: 950px) {
  nav {
    display: block;
  }
  .menu-btn {
    display: none;
  }
  #gallery {
    display: grid;
    grid-template-columns: 333px 333px 333px;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 8px;
    margin: auto;
    text-align: center;
    max-width: 1000px;
  }
  #gallery img {
    aspect-ratio: 1; /* keeps images square */
    object-fit: cover; /* fills the cell without distortion */
  }
}
