@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background-color: white;
  margin: 0 auto;
  max-width: 500px;
}
header {
  display: flex;
  font-size: 45px;
  justify-content: center;
  gap: 10px;
  margin: 20px 0 0px 0;
}
header img {
  max-height: 180px;
}
h1 {
  font-family: "Amatic SC", sans-serif;
}
.search-bar {
  width: 100%;
  display: flex;
  gap: 5px;
  justify-content: center;
  border: 3px solid black;
  border-radius: 10px;
  padding: 2px;
}
input {
  width: 95%;
  height: 40px;
  font-size: 20px;
  border: none;
  border-right: 2px lightgrey solid;
}
.search-bar img {
  max-height: 150px;
}

#searchButton {
  border: none;
  background: none;
  padding: 0;
  display: flex;
  float: right;
  align-items: center;
  cursor: pointer;
  max-width: 10%;
}
#searchButton img {
  max-width: 40px;
}
hr {
  margin: 15px 0;
  color: lightgrey;
}
#recipe-container {
  display: flex;
  flex-flow: column wrap;
  border: 3px solid black;
  box-sizing: border-box;
  border-radius: 10px;
}
.recipe-card {
  display: flex;
  flex-flow: column wrap;
}
.recipe-card:not(:last-child) {
  border-bottom: 2px solid lightgrey;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.recipe-img {
  margin: 20px auto 0px auto;
  max-width: 89%;
}
.recipe-button {
  margin-top: 5px;
  margin-left: 10px;
  height: 40px;
  font-size: 25px;
  border-radius: 0;
}
.recipe-title {
  margin: 30px 0 0 30px;
  color: #48ace6;
  font-family: "Amatic SC", sans-serif;
  font-size: 3em;
}
.recipe-description {
  margin-left: 40px;
  display: none;
}
.rating {
  margin-left: 15px;
  margin-bottom: 30px;
}
footer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.social {
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 3px;
}
@media screen and (min-width: 750px) {
  body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 35px;
  }
  .search-bar {
    width: 99%;
    display: flex;
    gap: 5px;
    justify-content: center;
    border: 3px solid black;
    border-radius: 10px;
    padding: 2px;
  }
  input {
    width: 97%;
    height: 40px;
    font-size: 20px;
    border: none;
    border-right: 2px lightgrey solid;
  }
  .search-bar img {
    padding: 5px 0px;
    width: 75%;
  }
  #searchButton {
    height: 40px;
    max-width: 5%;
  }
  #searchButton img {
    max-width: 1000px;
    padding: 0;
    margin: 0;
  }
  #recipe-container {
    display: flex;
    flex-flow: column;
    min-width: none;
    padding: 25px;
    gap: 25px;
  }
  .recipe-card {
    display: flex;
    flex-flow: row;
  }
  .recipe-card:not(:last-child) {
    border-bottom: 2px solid lightgrey;
    padding-bottom: 20px;
    margin-bottom: 0;
  }
  .recipe-img {
    margin: 0;
    max-height: 500px;
    max-width: 500px;
  }
  .info {
    max-width: 45%;
    display: flex;
    flex-flow: column;
  }
  .info-tags {
    display: flex;
    flex-flow: row wrap;
    margin-left: 10px;
  }
  .recipe-title {
    margin: 0;
    padding-top: 50px;
    padding-left: 20px;
  }
  .recipe-title {
    font-size: 55px;
  }
  .rating {
    display: flex;
    align-self: left;
    margin-left: 10px;
    margin-bottom: 0;
  }
  .recipe-description {
    display: block;
    margin-left: 20px;
    font-size: 1.2em;
  }
  footer {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    gap: 10px;
    margin: 20px;
  }
}
